<%= form_for [@project, @ticket], :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description, "Description" %>
    <%= f.text_area :description %>
  </p>
  <%- number = 0 -%>
  <%= f.fields_for :assets do |asset| %>
    <p>
      <%= asset.label :asset, "File ##{number += 1}" %>
      <%= asset.file_field :asset %>
    </p>
  <%- end -%>    
  <%= f.submit "Save", :disable_with => 'Saving...' %>
<%- end -%>

