<%= form_for [@project, @ticket], :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description, "Description" %>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :asset, "File" %>
    <%= f.file_field :asset %>
  </p>
  <%= f.submit "Save", :disable_with => 'Saving...' %>
<% end -%>

