<h2><%= @ticket.title %></h2>
<p>
  Created by <%= @ticket.user.email %>
</p>
<%= simple_format(@ticket.description) %>
<%= link_to("Edit", [:edit, @project, @ticket]) %> | <%= link_to("Delete", [@project, @ticket], :method => :delete, :confirm => "Are you SURE?") %>